<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>For use in public areas. You do not trust the other computers on networks to not harm your computer. Only selected incoming connections are accepted.</description>

  <interface name="{{ ansible_default_ipv4.interface }}"/>

  <service name="dhcpv6-client"/>

  <!-- Syncthing -->
  <port protocol="tcp" port="22000"/>
  <port protocol="udp" port="21027"/>

  <rule family="ipv4">
    <port protocol="tcp" port="22"/>
    <accept>
      <limit value="10/m"/>
    </accept>
  </rule>
</zone>
