<?xml version="1.0" encoding="utf-8"?>
<zone target="ACCEPT">
  <short>Trusted</short>
  <description>All network connections are accepted.</description>

  <interface name="docker0"/>
  <interface name="docker_gwbridge"/>
</zone>
